.screenshot {
    height: 100px;
}

.screenshot-wrp {
    text-align: center;
}

.screenshot-wrp img {
    max-height: 300px;
    max-width: 100%;
}

.list-group {
    margin-top: 5px;
}

.list-group-item {
    font-size: 1.3rem;
}

